{% extends "home.html" %}
{% block content %}
            <div style="background-color: lightpink;width:40%;height:40px;">
                {% if messages %}
                {% with messages=get_flashed_messages() %}
                        {% for msg in messages %}
                            <p>{{msg}}</p>
                        {% endfor %}
                {% endwith %}
                {% endif %}
            </div>
            <div id="">
                <div >
                    <div id="sidepanel1">
                        <div>
                            <center>
                                <button style="background-color:white;color:black;margin-top:15px;margin-bottom:15px;" class="btnd"><a href="{{url_for('read.box_oauth')}}">Connect</a></button>
                                <button style="background-color:white;color:black;margin-top:15px;margin-bottom:15px;" class="btnd"><a href="{{url_for('read.get_user_home')}}">User Home</a></button>
                                <button style="background-color:white;color:black;margin-top:15px;margin-bottom:15px;" class="btnd"><a href="{{url_for('read.get_box_access_token')}}">Box Upload</a></button>
                            </center>
                        </div>
                    </div>
                    <div id="sidepanel2">
                           <aside>
                                <h2 style="font-family:'fantasy';color:#1d2951;">App Name</h2>
                                <hr class="one">
                                <p style="font-family:'Lucida Sans';"><strong>{{box.appname}}</strong></p>
                                <h2 style="font-family:'fantasy';color:#1d2951;">Client ID</h2>
                                <hr class="one">
                                <p style="font-family:'Lucida Sans';"><strong>{{box.clientid}}</strong></p>
                                <h2 style="font-family:'fantasy';color:#1d2951;">Client Secret</h2>
                                <hr class="one">
                                <p style="font-family:'Lucida Sans';"><strong>{{box.clientsecret}}</strong></p>
                                <h2 style="font-family:'fantasy';color:#1d2951;">Migration Folder ID</h2>
                                <hr class="one">
                                <p style="font-family:'Lucida Sans';"><strong>{{box.folderid}}</strong></p>
                           </aside>
                    </div>
                </div>
            </div>
{% endblock %}

