{% extends "home.html" %}
{% block content %}
<div >
    <div id="sidepanel1">
        <div>
            <center>
                <button style="background-color:white;color:black;margin-top:15px;margin-bottom:15px;" class="btnd"><a href="{{url_for('read.get_user_home')}}">User Home</a></button>
                <button style="background-color:white;color:black;margin-top:15px;margin-bottom:15px;" class="btnd"><a href="{{url_for('myhome.landing_page')}}">Bot Home</a></button>
                <button style="background-color:white;color:black;margin-top:15px;margin-bottom:15px;" class="btnd"><a href="{{url_for('read.bot_list')}}">Bots</a></button>
            </center>
        </div>
    </div>
    <div id="sidepanel2">
        <div id="">
            <center>
                <div class="panel" style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
                    <h2>Your Bots</h2>
                </div>
                <div id="allbot">
                    <div>
                        {% for bot in bots%}
                           <div class="newbot">
                               <div>
                                   <img src="{{url_for('static',filename='botpath/'+bot.botname+'/'+bot.bot_pic)}}" alt="mybot" class="botimage">
                               </div>
                               <div>
                                   <h2><a href="{{url_for('read.get_subscribed_bot_data',botid=bot.id)}}">{{bot.botname}}</a></h2>
                               </div>
                               <div>
                                   <p>
                                    {{bot.description}}
                                   </p>
                               </div>
                           </div>
                        {% endfor %}
                        <div>
                            {% if prev_url or next_url %}
                                  {% if prev_url %}
                                     <div>
                                         <button><a href={{prev_url}}>Prev</a></button>
                                     </div>
                                  {% endif %}
                                  {% if next_url %}
                                     <div>
                                        <button><a href={{next_url}}>Next</a></button>
                                     </div>
                                  {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </center>
           </div>          
    </div>
</div>
{% endblock %}